.title {
	font-size: 1.2em;
	font-weight: bold;
}
#buy {
	padding: 10px;
	float: right;
	display: block;
	margin-right: 150px;
	font-size: 1.05em;
	}
table, th, td {
    border: 1px solid black;
}
.entry, #address {
    	float: right;
    	width: 300px;
    	resize: none;
    	padding: 1px;
    }
#content {
height: 1400px;
}
.button {
  font: bold 11px Arial;
  text-decoration: none;
  background-color: #EEEEEE;
  color: #333333;
  padding: 5px 10px 5px 10px;
  border-top: 1px solid #CCCCCC;
  border-right: 1px solid #333333;
  border-bottom: 1px solid #333333;
  border-left: 1px solid #CCCCCC;
}