#wrapper {
		width:1320px;
		background-color: white;
		float: center;
		margin: auto;
}
	#banner {
		height: 70px;
		background-color: white;
		float: center;
		margin: auto;
}
	#menuTop {
		height: 45px;
		background-color: black;
		float: center;
		margin: auto;
}
  	header#page_header nav ul li{
  		list-style: none;
  		margin-left: 15%;		
  		}
  		.links{
  		text-decoration: none;
  		float: left;
  		height: 40 px;
  		line-height: 40px;
		padding: 0 30px;
        margin: 0 15px;
  		border-top-left-radius: 8px;
  		border-top-right-radius: 8px;
  		background-color: #6600FF;
  		font-size: 15px;
  		color: white;
  		font-family: helvetica;
  		}
  		a:hover{
  		background-color: gray;
}
	#content {
		width:75%;
		height: 438px;
		background-color: #D3D3D3;		

}
	.innercontent {
		padding: 20px;

}
	#columnRight {
		width:25%;
		height: 438px;
		background-color: white;
		float: right;
		
}

 #go {
      margin-right: 1.5%;
      padding: 5px;
      font-size: 15px;
      float: right;
      margin-top: 10px;
}
  	.search  {
	text-align: left;
  	float: right;
  	margin-right: 1.5%;
  	height: 18px;
  	margin-top: 8px;
    background: #f5f5f5;

}
  	#label {
  	color: white;
  	font-size: 15px;
  	float: right;
  	padding-top: 12px;
  	padding-right: 10px;  	
}	



